
{% extends 'base.html' %}
{% block title %} Phonebook {% endblock %}

{% block content %}
    <h1>FullName</h1>
    
    <form action="" method='post'>
        {{form.csrf_token}}
        <div class="form-group">
            <fieldset>
                {{ form.name.label }}
                {{ form.name(class='form-control', placeholder='Name') }}
            </fieldset>
            <fieldset>
                {{ form.address.label }}
                {{ form.address(class='form-control', placeholder='Address') }}
            </fieldset>
            <fieldset>
                {{ form.phone_number.label }}
                {{ form.phone_number(class='form-control', placeholder='Phone number') }}
            </fieldset>
            
        </div>
        {{ form.submit(class='btn btn-outline-success') }}
    </form>
{% endblock %}